 @import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700&display=swap');

#splash > a:first-child {
    display: none;
}

figure.profile {
    display: block;
    margin: 0 auto;
    max-width: 300px;
}

figure.profile img {
    margin-top: 0;
    border-radius: 50%;
}

figure.profile figcaption {
    display: none;
}

header h1 {
    display: none;
}

article .highlight {
    width: 140%; 
    margin: 0 -20%;
    opacity: .75;
    letter-spacing: 1px;
}

@media screen and (max-width: 736px) {
    article .highlight {
        width: 100%; 
        margin: 0;    
    }
} 

article code {
    font-size: 0.85rem;
}

article pre {
    line-height: 1.2rem;
    background-color: #16181a !important;
}

nav.nav-tabs {
    margin: 1em 0;
}

.tab-pane {
    display: none;
}

.tab-pane.active {
    display: block;
}
